<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EnergoUchet</title>
</head>
<body>
    <ul>
        <li>@Html.ActionLink("Данные от КИПиА", "List", "KipiaData")</li>
        <li>@Html.ActionLink("Данные от диспетчера", "List", "DispetcherData")</li>
        <li>@Html.ActionLink("Данные от эксплуатации", "List", "HeatpowerData")</li>
    </ul>
    <div>
        @RenderBody()
    </div>
</body>
</html>
