@model IEnumerable<string>

@{ 
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-disth" />
    <title>Language Feature</title>
</head>
<body>
    <ul>
        @foreach (string s in Model)
            {
                <li>@s</li>
            }
    </ul>
</body>
</html>